@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400&family=Bellefair&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h4 {
  font-family: "Bellefair", serif;
  color: white;
}

h5,
p,
nav {
  font-family: "Barlow", sans-serif;
  color: white;
}

h1 {
  font-size: 150px;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 28px;
}

nav {
  font-size: 16px;
}

p {
  font-size: 18px;
}
